<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title></title>

        <!-- Read CSS, JS -->
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/layout/layout.css}">

        <script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
    </head>
    <body>
        <!-- Header -->
        <nav layout:replace="~{ layout/header :: header }"></nav>

        <!-- Menu -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 bg-light sidebar pt-2">
                    <div layout:replace="~{ layout/menu :: menu }"></div>
                </div>
            </div>
        </div>

        <!-- Content -->
        <div class="container-fluid bg-light">
            <div class="row">
                <div class="col-md-10 offset-md-2 main">
                    <div layout:fragment="content"></div>
                </div>
            </div>
        </div>
    </body>
</html>