<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
    <link rel="stylesheet" th:href="@{/css/user/list.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="header border-bottom">
        <h2 class="h2">User Details</h2>
    </div>

    <form id="user-detail-form" method="post" th:action="@{/user/detail}" class="form-signup" th:object="${userDetailForm}">
        <input type="hidden" th:field="*{userId}">
        <table class="table table-hover table-striped">
            <tbody>
                <tr>
                    <td>User ID</td>
                    <td th:text="*{userId}">User ID</td>
                </tr>
                <tr>
                    <td><label for="password">Password</label></td>
                    <td><input type="password" id="password" class="form-control" th:field="*{password}" /></td>
                </tr>
                <tr>
                    <td><label for="name">User Name</label></td>
                    <td><input type="text" id="name" class="form-control" th:field="*{userName}" /></td>
                </tr>
                <tr>
                    <td>Date of Birth</td>
                    <td th:text="*{#dates.format(dateOfBirth, 'dd/MM/YYYY')}"></td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td th:text="*{age}" />
                </tr>
                <tr>
                    <td>Gender</td>
                    <td th:text="*{gender == 1} ? 'Male' : 'Female'" />
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <button type="submit" name="update" class="btn btn-outline-primary">Update</button>
            <button type="submit" name="delete" class="btn btn-danger">Delete</button>
        </div>
    </form>
</div>

</body>
</html>