<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dev.sunny.repository.UserMapper">
    <resultMap id="user" type="MUser">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="confirmPassword" column="confirm_password"/>
        <result property="dateOfBirth" column="date_of_birth"/>
        <result property="age" column="age"/>
        <result property="gender" column="gender"/>
        <result property="departmentId" column="department_id"/>
        <result property="role" column="role"/>
    </resultMap>

    <insert id="insertOne">
        INSERT INTO m_user (user_id,
                            user_name,
                            password,
                            confirm_password,
                            date_of_birth,
                            age,
                            gender,
                            department_id,
                            role)
        VALUES (#{userId},
                #{userName},
                #{password},
                #{confirmPassword},
                #{dateOfBirth},
                #{age},
                #{gender},
                #{departmentId},
                #{role})
    </insert>

    <select id="findAll" resultType="MUser">
        SELECT * FROM m_user
    </select>

    <select id="findOne" resultMap="user">
        SELECT * FROM m_user WHERE user_id = #{userId}
    </select>

    <update id="updateOne">
        UPDATE m_user
        SET user_name = #{userName},
            password = #{password}
        WHERE user_id = #{userId}
    </update>

    <delete id="deleteOne">
        DELETE FROM m_user WHERE user_id = #{userId}
    </delete>
</mapper>